*.log
*.meta
**/Library
CubeCollector/Library/
CubeCollector/obj/
CubeCollector/Temp/
*.backup
*.backup
CubeCollector/Temp/UnityTempFile-329a76244be08457e9d281fde5d85997
CubeCollector/Library/metadata/00/00000000000000004000000000000000
*.backup
