*.log
*.meta
*.dll
*.mdb
*.backup
*.bak
**.dll
**.mdb
**.info
**.log
EmptyPlane/Build EmptyPlane/EmptyScene.app/Contents/Resources/Data/sharedassets0.assets
EmptyPlane/Build EmptyPlane/EmptyScene.app/Contents/Resources/Data/level0
EmptyPlane/Build EmptyPlane/EmptyScene.app/Contents/Resources/Data/globalgamemanagers.assets
EmptyPlane/Build EmptyPlane/EmptyScene.app/Contents/Resources/Data/globalgamemanagers
EmptyPlane/Build EmptyPlane/EmptyScene.app/Contents/Resources/Data/globalgamemanagers
